{% extends 'blog/base.html' %}

{% block title_block %}
    Logged Out
{% endblock %}

{% block body_block %}
	<h1>Logged Out</h1>

	<p>
	    You have been successfully logged out. Thanks for spending time on Blog!
	</p>
{% endblock %}

