{% extends 'blog/base.html' %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
	<h1>Register Here</h1>

	<form method="post" action=".">
	    {% csrf_token %}
	    
	    {{ form.as_p }}
	    
	    <input type="submit" value="Register" />
	</form>
{% endblock %}