{% extends 'blog/base.html' %}

{% block title_block %}
    Add Comment
{% endblock %}

{% block body_block %}
    <h1>Add Comment</h1>
    <div>
        <form id="comment_form" method="post" action="{% url 'blog:add_comment' article.slug %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Add Comment" />
        </form>
    </div>
{% endblock %}