{% extends 'blog/base.html' %}

{% block title_block %}
    Add an Article
{% endblock %}

{% block body_block %}
    <h1>Add an Article</h1>
    <div>
        <form id="article_form" method="post" action="{% url 'blog:add_article' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Create Article" />
        </form>
    </div>
{% endblock %}
