<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		{% block title_block %}
			DevBlog
		{% endblock %}
	</head>
	<body>
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
		<div>
			<ul>
				<li><a href="{% url 'blog:index' %}">Main</a></li>
        {% if user.is_authenticated %}
					<li><a href="{% url 'blog:add_article' %}">Add Article</a></li>
					<li><a href="{% url 'auth_logout' %}?next={% url 'blog:index' %}">Logout</a></li>
					<li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
				{% else %}
					<li><a href="{% url 'auth_login' %}">Login</a></li>
					<li><a href="{% url 'registration_register' %}">Registration</a></li>
				{% endif %}
			</ul>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpujzy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	</body>
</html>