{% extends 'blog/base.html' %}

{% block title_block %}
	Edit Article
{% endblock %}

{% block body_block %}
    <h1>Edit Article</h1>
    <div>
        <form id="article_form" method="post" action="{% url 'blog:edit_article' article.slug %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Edit Article" />
        </form>
    </div>
{% endblock %}