{% extends 'blog/base.html' %}

{% block title_block %}
	Main Page
{% endblock %}
{% block body_block %}
	{% if articles %}
		{% for article in articles %}
		    <div class="container">
				<div class="card text-center">
					<div class="card-header">
						<a href="{% url 'blog:show_article' article.slug %}">{{ article.title }}</a>
					</div>
		
					<div class="card-body">
						<img src="{{ MEDIA_URL }}{{ article.image }}" alt="Article image" />
					</div>
					
					<div class="card-footer text-muted">
						<p>{{ article.text }}</p>
					</div>
				</div>
			</div>
		    <hr />
		{% endfor %}
	{% else %}
		<div>
			No articles.
		</div>
	{% endif %}
{% endblock %}
