{% extends 'blog/base.html' %}

{% block title_block %}
	{{ article.title }}
{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="card text-center">
			<div class="card-header">
				{{ article.title }}
			</div>

			<div class="card-body">
				<img src="{{ MEDIA_URL }}{{ article.image }}" alt="Article image" />
			</div>

			<div class="card-footer text-muted">
				<p>{{ article.text }}</p>
				<p>{{ likes }}</p>
				{% if user.is_authenticated %}
					<a class="btn btn-secondary" href="{% url 'blog:add_like' article.slug %}" role="button">Like</a>
					<a class="btn btn-secondary" href="{% url 'blog:add_dislike' article.slug %}" role="button">Dislike</a>
	    		<a class="btn btn-secondary" href="{% url 'blog:add_comment' article.slug %}" role="button">Add Comment</a>
					{% if user == article.user %}
						<a class="btn btn-secondary" href="{% url 'blog:delete_article' article.slug %}" role="button">Delete Article</a>
						<a class="btn btn-secondary" href="{% url 'blog:edit_article' article.slug %}" role="button">Edit Article</a>
	    		{% endif %}
				{% endif %}
			</div>
				{% if comments %}
					{% for comment in comments %}
						<div class="card">
							<div class="card-body">
								{{ comment.text }}
								{{ comment.user }}
								{% if user == comment.user %}
									<a class="btn btn-secondary" href="{% url 'blog:delete_comment' article.slug comment.id %}" role="button">Delete Comment</a>
								{% endif %}
								{{ comment.comment_likes.all.count }}
								<a class="btn btn-secondary" href="{% url 'blog:add_comment_like' article.slug comment.id %}" role="button">Like</a>
								{{ comment.comment_dislikes.all.count }}
								<a class="btn btn-secondary" href="{% url 'blog:add_comment_dislike' article.slug comment.id %}" role="button">Dislike</a>
							</div>
						</div>
					{% endfor %}
				{% else %}
					No comments for this article
				{% endif %}
		</div>
	</div>
{% endblock %}